.number1 > p {
    font-family: initial;
    color: indianred
}
h1 {
    color: darkgreen
}
h1,h2 {
    font-family: georgia;
    text-align: center;
}
p {
    line-height: 25px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.number2 > p {
    text-transform: uppercase;
}
img {
    float: left;
    margin-right: 50px;
}